@layer components {
.socialmedia-hover-effects {
    @apply transition-all duration-300 ease-in hover:bg-gradient-to-r hover:from-green-400 hover:to-yellow-600 hover:text-transparent hover:bg-clip-text hover:transform hover:scale-150;
  }

.btn-read-more {
    @apply mt-4 px-4 py-3 border-2 border-white rounded-full text-black font-semibold card-button-size tracking-wider transition duration-500 ease-in-out cursor-pointer hover:text-readMoreHover hover:bg-white focus:outline-none self-end;
}

  .logo-custom {
    border-radius: 15px;
    width: 9.5rem;
    margin-top: 5px;
    padding: 25px;
    margin-bottom: .5em;
    font-size: 1rem;
    background: radial-gradient(
            ellipse at center,
            #ffeb3b 0%,
            #ffeb3b 25%,
            #f2d489 26%,
            #fbc02d 50%,
            #21f359 51%,
            #2196f3 75%,
            #5298dd 76%,
            #1e80e9 100%
          )
    }
    
    .m-w-cards {
        max-width: 300px;
    }
    
    .card-text-size {
        font-size: 14px;
        letter-spacing: .5px;
    }
    
    .card-button-size {
        font-size: 10px;
        letter-spacing: 1.2px;
    }
}
