<header
    class="bg-headerBackground text-white p-2 box-border shadow-header rounded-b-md mb-12 flex flex-col md:flex-row justify-between"
>
    <div class="logo-custom font-medium md:ml-5 mx-auto">
        <a href="index.html" class="text-black">PelotaVirtuosa</a>
    </div>
    <ul
        class="flex flex-wrap flex-col gap-8 md:gap-3 md:flex-row items-center list-none mt-6 mb-8"
    >
        <li>
            <a
                href="index.html"
                class="hover:text-linkHover hover:bg-gray-700 transition-colors duration-300 px-4 py-3 rounded-xl"
                >Miembros</a
            >
        </li>
        <li>
            <a
                href="#"
                class="hover:text-linkHover hover:bg-gray-700 transition-colors duration-500 px-4 py-3 rounded-xl"
                >Nuestro Blog</a
            >
        </li>
        <li>
            <a
                href="contact.html"
                class="hover:text-linkHover hover:bg-gray-700 transition-colors duration-500 px-4 py-3 rounded-xl"
                >Contacto</a
            >
        </li>
    </ul>
</header>
